:root {
  --bg-colour: #f3f3f3;
  --primary-colour: #3d85c6;
  --secondary-colour: #93c47d;
  --tertiary-colour: #B22222;

  background-color: var(--bg-colour);
}

* {
  transition: background 1s;
}

[data-theme="dark"] {
    --bg-colour: #121212;
    --primary-colour: #404040;
    --secondary-colour: #282828;
    --tertiary-colour: #9A2A2A;
}

#root {
  margin: 0 auto;
  height: 100%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: center;

  color-scheme: light dark;
  background-color: 	var(--bg-colour);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.body {
  height: 100%;
  margin-top: 2%;
  display: flex;
}

/* ------------------------------------- Banner --------------------------------------------- */

.header {
  width: 100%;
  min-width: 400px;
  padding: 15px;

  color: white;
  background: var(--primary-colour);
  
  display: flex;
  align-items: center;
}

#title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;

  font-size: 20px;
}

/* -------------------------------- ThemeSwitch & SoundToggle--------------------------------------------- */

.toggles {
  margin-left: auto; 
  margin-right: 10px;
  display: flex;
}

.sound-toggle {
  margin-right: 10px;
}

.theme-toggle {
  margin-left: 10px;
}

#theme-switch, #sound-switch {
  display: none;
}

.toggle-img {
  position: relative;
  width: 28px;
  height: 28px;
}

.toggle-img:hover {
  cursor: pointer;
}

/* ------------------------------------- ActionBox --------------------------------------------- */

.box {
  margin-left: 4%;

  height: 100%;
  min-height: 450px;
  width: 350px;

  background-color: var(--secondary-colour);
  border-radius: 20px;
}

#instructions {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  width: 80%;

  font-size: 25px;
  color: white;
}


.settings {
  margin-top: 30px;
}

/* ------------------------------------- NumInput & Dropdown --------------------------------------------- */

.field-row {
  display: flex;
  align-items: center;

  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.input-label {
  margin-top: auto;
  margin-bottom: auto;
  
  font-size: 17px;
  color: white;
}

.input-field {
  margin-left: auto;
  margin-right: 0px;
}

select:hover {
  cursor: pointer;
}

select:disabled:hover {
  cursor: not-allowed;
}

#size {
  width: 100px;
}

#delay {
  width: 100px;
}

#knight-color {
  width: 100px;
}

.input-disabled:hover {
  cursor: not-allowed;
}

/* ---------------------------------------------- Button ------------------------------------------------------- */

.button {
  text-align: center;
  margin-top: 40px;
  padding: 8px;
  width: 200px;

  border-radius: 8px;
  
  border: none;

  color: white;
  font-size: 25px;
  font-weight: 500;

  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  display: inline-block;
  position: relative;
  
  cursor: pointer;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#solve-button {
  background-color: var(--primary-colour);
}

#reset-button {
  background-color: var(--tertiary-colour);
}

#reset-button span:after {
  content: '\21ba';
}

[data-theme="dark"] .disabled {
  opacity: 0.38;
}

.disabled {
  text-align: center;
  margin-top: 40px;
  padding: 8px;
  width: 200px;

  border-radius: 8px;
  background-color: var(--primary-colour);
  border: none;

  color: white;
  font-size: 25px;
  font-weight: 500;

  opacity: 0.6;
  cursor: not-allowed;
}

/* ---------------------------------------------- Board ------------------------------------------------------- */

.right-panel {
  margin: auto;
  position: relative;
}

.loader {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 20; 

  /* create spinner */
  border: 16px solid #f3f3f3; 
  border-top: 16px solid var(--primary-colour); 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.board {
  z-index: 19;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.square {
  border: none;
  position: relative;
}

img {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.is-active:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 2px 2px yellow;
}

.number {
  z-index: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.size-12 {
  height: 36px;
  width: 36px;
  
  font-size: 16px;
}

.size-11 {
  height: 38.8px;
  width: 38.8px;

  font-size: 16px;
}

.size-10 {
  height: 42px;
  width: 42px;

  font-size: 16px;
}

.size-9 {
  height: 46px;
  width: 46px;

  font-size: 16px;
}

.size-8 {
  height: 51px;
  width: 51px;

  font-size: 16px;
}

.size-7 {
  height: 58px;
  width: 58px;

  font-size: 16px;
}

.size-6 {
  height: 67px;
  width: 67px;

  font-size: 17px;
}

.size-5 {
  height: 80px;
  width: 80px;

  font-size: 18px;
}


/* ---------------------------- Styles for Mobile -------------------------------- */

@media screen and (max-width: 800px) {

  .body {
    display: block;
  }

  .settings {
    width: 46%;
    float: left;
    margin-left: 2%;
    margin-top: 0px;
  }

  .input-label {
    font-size: 2.7vw;
  }

  .field-row {
    width: 95%;
  }

  .input-field {
    margin-right: 0px;
    height: 80%;
    width: 80%;
  }

  .box {
    margin-left: 0;
    width: 100%;
    height: 50%;
    min-height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #instructions {
    font-size: 2.5vw;
    width: 60%;
    margin-top: auto;
  }

  #solve-button, #reset-button {
    margin-top: auto;
    font-size: 4vw;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    float: right;
    margin-right: 2%;
  }

  .right-panel {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

  .board {
    width: 100%;
    aspect-ratio: 1/1;
  }

  .board-col {
    width: 100%;
  }

  .square {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }

  .number {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .size-5 {
    font-size: 4.5vw;
  }

  .size-6 {
    font-size: 4vw;
  }

  .size-7, .size-8, .size-9, .size-10, .size-11, .size-12 {
    font-size: 3.7vw;
  }
} 
